@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-sans: 'Noto Sans', sans-serif;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    --view-area-size: 104px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-sans);
}

.active {
    @apply bg-green-500 text-white;
}

.app-view {
    height: 100vh;
    width: 100vw;

    background-color: black;

    display: grid;
    grid-template-areas:
        'left-view center-view right-view'
        'left-view bottom-view right-view';

    grid-template-columns: var(--view-area-size) 1fr var(--view-area-size);
    grid-template-rows: 1fr var(--view-area-size);

    position: relative;
}

.app-view__left {
    grid-area: left-view;
    /* border-right: 1px solid #e5e5e5; */
}

.app-view__right {
    grid-area: right-view;
    /* border-left: 1px solid #e5e5e5; */

    position: relative;
}

.app-view__bottom {
    grid-area: bottom-view;

    /* border-top: 1px solid #e5e5e5; */
}

.app-view__center {
    grid-area: center-view;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.app-view__float {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;

    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: center;
}
